<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
  <div class="col-lg-2"></div>

  <div class="col-lg-8 my-5">
    <h1 class="text-center">Agenda</h1>
    <p class="text-center lead">SEJA BEM VINDO!</p>
 
  </div>
  <%- include('includes/messages')%>

  <h2 class="text-center lead">Vá em cadastrar contatos no menu acima</h2>

  <div class="col-lg-2"></div>
</div>

<%- include('includes/footer') %>